<div class="btn-group btn-group-justified mode-select-radio" role="group">
  <button type="button" class="btn btn-default" name="open-gen-button"
    [class.active]="generationType === 'open'"
    [attr.aria-pressed]="generationType === 'open'"
    (click)="generationType = 'open'">Open Mode</button>
  <button type="button" class="btn btn-default" name="custom-gen-button"
    [class.active]="generationType === 'custom'"
    [attr.aria-pressed]="generationType === 'custom'"
    (click)="generationType = 'custom'">Custom Generation</button>
  <button type="button" class="btn btn-default" name="mystery-gen-button"
    [class.active]="generationType === 'mystery'"
    [attr.aria-pressed]="generationType === 'mystery'"
    (click)="generationType = 'mystery'">Mystery Seed</button>
</div>

@if (generationType == 'open') {
  <form class="form-horizontal" novalidate>
    <div class="open-mode-summary">
      <div class="form-group">
        <label class="col-sm-4 control-label" for="placement-mode">Item Placement
        </label>
        <p class="col-sm-4 seed-type-descriptor">Advanced
          <app-help-popover
            label="Item Placement help"
            text="Some dark rooms with firerod are in logic, Skull Woods pinball chest may have an item, TR laser bridge doesn't require an invulnerability item, etc">
          </app-help-popover>
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="placement-mode">Dungeons Items
        </label>
        <p class="col-sm-4 seed-type-descriptor">Standard
          <app-help-popover
            label="Dungeon Items help"
            text="All keys and dungeon items are inside their own dungeons">
          </app-help-popover>
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="placement-mode">Accessibility
        </label>
        <p class="col-sm-4 seed-type-descriptor">100% Inventory
          <app-help-popover
            label="Accessibility help"
            text="All bosses and inventory items are accessible. Not all keys may be reachable">
          </app-help-popover>
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="placement-mode">Goal
        </label>
        <p class="col-sm-4 seed-type-descriptor">Defeat Ganon
          <app-help-popover
            label="Goal help"
            text="You must defeat Agahnim 2 and collect the required crystal amount to be able to beat Ganon">
          </app-help-popover>
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="placement-mode">Open Tower
        </label>
        <p class="col-sm-4 seed-type-descriptor">7 Crystals
          <app-help-popover
            label="Open Tower help"
            text="7 Crystals are required to be able to enter Ganons Tower">
          </app-help-popover>
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="placement-mode">Ganon Vulnerable
        </label>
        <p class="col-sm-4 seed-type-descriptor">7 Crystals
          <app-help-popover
            label="Ganon Vulnerable help"
            text="7 Crystals are required to be able to damage Ganon">
          </app-help-popover>
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="placement-mode">World State
        </label>
        <p class="col-sm-4 seed-type-descriptor">Open
          <app-help-popover
            label="World State help"
            text="Game starts with the escape prologue done and you may use Link's House or the Sanctuary as spawn points">
          </app-help-popover>
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="placement-mode">Hints
        </label>
        <p class="col-sm-4 seed-type-descriptor">Off
          <app-help-popover
            label="Hints help"
            text="All hint tiles are disabled">
          </app-help-popover>
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="placement-mode">Swords
        </label>
        <p class="col-sm-4 seed-type-descriptor">Randomized
          <app-help-popover
            label="Swords help"
            text="You start without a sword, all 4 swords are shuffled in the world">
          </app-help-popover>
        </p>
      </div>
    </div>
    <div class="open-mode-controls">
      <div class="form-group">
        <div class="col-sm-4 label-with-help">
          <label class="control-label" for="map-mode">Overworld</label>
          <app-help-popover
            label="Overworld help"
            text="Do you want to travel the overworld screen by screen?">
          </app-help-popover>
        </div>
        <div class="col-sm-8" id="map-mode">
          <button type="button" class="btn btn-default" name="simple-map-button"
            [class.active]="mapSelected === 'no'"
            [attr.aria-pressed]="mapSelected === 'no'"
            (click)="mapSelected = 'no'">Simple</button>
          <button type="button" class="btn btn-default" name="full-map-button"
            [ngStyle]="{'display': isAdvancedOWEnabled}"
            [class.active]="mapSelected === 'yes'"
            [attr.aria-pressed]="mapSelected === 'yes'"
            (click)="mapSelected = 'yes'">Advanced</button>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="seed-num-input">Seed</label>
        <div class="col-sm-8 form-inline">
          <input class="form-control" id="seed-num-input" maxlength="20"
            name="seedSelect" placeholder="Random" type="text"
            [(ngModel)]="seedNum" [disabled]="dailySeed"
            (keyup.enter)="onSubmit()">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button class="btn btn-success" type="button"
            [disabled]="isGenerating"
            (click)="onGenerateNewSeed()">
            <i class="fa" [ngClass]="isGenerating ? 'fa-spinner fa-spin' : 'fa-magic'"></i>
            {{ isGenerating ? 'Generating...' : 'Generate Seed' }}
          </button>
          <button class="btn btn-default" type="button" (click)="fileInput.click()">
            <i class="fa fa-upload"></i> Load Spoiler Log
          </button>
          <input #fileInput type="file" accept=".json,.txt" style="display:none"
            (change)="onSpoilerLogFileSelected($event)">
          <button class="btn btn-primary" type="button"
            [disabled]="shouldDisablePlay"
          (click)="onSubmit()">Play</button>
          @if (seedInfo) {
            <span style="margin-left: 10px;">{{seedInfo}}</span>
          }
        </div>
      </div>
    </div>
    @if (errorMessage) {
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    }
  </form>
}

@if (generationType === 'custom') {
  <form class="form-horizontal" novalidate>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="placement-mode">Item Placement</label>
        <app-help-popover
          label="Item Placement help"
          text="Changes logical restrictions for a more casual or advanced experience">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="placement-mode">
        <button type="button" class="btn btn-default" name="basic-place-button"
          [class.active]="itemPlacementSelected === 'basic'"
          [attr.aria-pressed]="itemPlacementSelected === 'basic'"
          (click)="itemPlacementSelected = 'basic'">Basic</button>
        <button type="button" class="btn btn-default" name="advanced-place-button"
          [class.active]="itemPlacementSelected === 'advanced'"
          [attr.aria-pressed]="itemPlacementSelected === 'advanced'"
          (click)="itemPlacementSelected = 'advanced'">Advanced</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="var-mode">Dungeon Items</label>
        <app-help-popover
          label="Dungeon Items help"
          text="Which dungeon items get shuffled into the rest of the world?">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="var-mode">
        <button type="button" class="btn btn-default" name="no-di-button"
          [class.active]="dungeonItemsSelected === 'standard'"
          [attr.aria-pressed]="dungeonItemsSelected === 'standard'"
          (click)="dungeonItemsSelected = 'standard'">Standard</button>
        <button type="button" class="btn btn-default" name="mc-button"
          [class.active]="dungeonItemsSelected === 'mc'"
          [attr.aria-pressed]="dungeonItemsSelected === 'mc'"
          (click)="dungeonItemsSelected = 'mc'">Maps/Compasses</button>
        <button type="button" class="btn btn-default" name="mcs-button"
          [class.active]="dungeonItemsSelected === 'mcs'"
          [attr.aria-pressed]="dungeonItemsSelected === 'mcs'"
          (click)="dungeonItemsSelected = 'mcs'">Maps/Compasses/Small Keys</button>
        <button type="button" class="btn btn-default" name="keysanity-button"
          [class.active]="dungeonItemsSelected === 'full'"
          [attr.aria-pressed]="dungeonItemsSelected === 'full'"
          (click)="dungeonItemsSelected = 'full'">Keysanity</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="access-mode">Accessibility</label>
        <app-help-popover
          label="Accessibility help"
          text="Is every chest accessible?">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="access-mode">
        <button type="button" class="btn btn-default" name="full-inv-button"
          [class.active]="accessibilitySelected === 'items'"
          [attr.aria-pressed]="accessibilitySelected === 'items'"
          (click)="accessibilitySelected = 'items'">100% Inventory</button>
        <button type="button" class="btn btn-default" name="full-loc-button"
          [class.active]="accessibilitySelected === 'locations'"
          [attr.aria-pressed]="accessibilitySelected === 'locations'"
          (click)="accessibilitySelected = 'locations'">100% Locations</button>
        <button type="button" class="btn btn-default" name="beatable-button"
          [class.active]="accessibilitySelected === 'none'"
          [attr.aria-pressed]="accessibilitySelected === 'none'"
          (click)="accessibilitySelected = 'none'">Beatable Only</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="goal-mode">Goal</label>
        <app-help-popover
          label="Goal help"
          text="Fast Ganon means you don't need to beat Agahnim 2 to fight Ganon">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="goal-mode">
        <button type="button" class="btn btn-default" name="ganon-button"
          [class.active]="goalSelected === 'ganon'"
          [attr.aria-pressed]="goalSelected === 'ganon'"
          (click)="goalSelected = 'ganon'">Defeat Ganon</button>
        <button type="button" class="btn btn-default" name="fast-ganon-button"
          [class.active]="goalSelected === 'fast_ganon'"
          [attr.aria-pressed]="goalSelected === 'fast_ganon'"
          (click)="goalSelected = 'fast_ganon'">Fast Ganon</button>
        <button type="button" class="btn btn-default" name="alldungeons-button"
          [class.active]="goalSelected === 'dungeons'"
          [attr.aria-pressed]="goalSelected === 'dungeons'"
          (click)="goalSelected = 'dungeons'">All Dungeons</button>
        <button type="button" class="btn btn-default" name="pedestal-button"
          [class.active]="goalSelected === 'pedestal'"
          [attr.aria-pressed]="goalSelected === 'pedestal'"
          (click)="goalSelected = 'pedestal'">Master Sword Pedestal</button>
        <button type="button" class="btn btn-default" name="triforce-button"
          [class.active]="goalSelected === 'triforce-hunt'"
          [attr.aria-pressed]="goalSelected === 'triforce-hunt'"
          (click)="goalSelected = 'triforce-hunt'">Triforce Hunt</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="open-tower-mode">Open Tower</label>
        <app-help-popover
          label="Open Tower help"
          text="How many crystals do you need to open Ganon's Tower?">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="game-mode">
        <select class="form-control" id="open-tower-mode" name="tower-select"
          [(ngModel)]="openTowerSelected">
          @for (option of openCrystalOptions; track option) {
            <option [value]="option.id">{{option.label}}</option>
          }
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="open-ganon-mode">Ganon Vulnerable</label>
        <app-help-popover
          label="Ganon Vulnerable help"
          text="How many crystals do you need to damage Ganon?">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="game-mode">
        <select class="form-control" id="open-ganon-mode" name="ganon-select"
          [(ngModel)]="openGanonSelected">
          @for (option of openCrystalOptions; track option) {
            <option [value]="option.id">{{option.label}}</option>
          }
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="game-mode">World State</label>
        <app-help-popover
          label="World State help"
          text="Do we rescue Zelda? Do we start in the Light World?">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="game-mode">
        <button type="button" class="btn btn-default" name="standard-button"
          [class.active]="modeSelected === 'standard'"
          [attr.aria-pressed]="modeSelected === 'standard'"
          (click)="modeSelected = 'standard'; onIsInverted(false)">Standard</button>
        <button type="button" class="btn btn-default" name="open-button"
          [class.active]="modeSelected === 'open'"
          [attr.aria-pressed]="modeSelected === 'open'"
          (click)="modeSelected = 'open'; onIsInverted(false)">Open</button>
        <button type="button" class="btn btn-default" name="inverted-button"
          [class.active]="modeSelected === 'inverted'"
          [attr.aria-pressed]="modeSelected === 'inverted'"
          (click)="modeSelected = 'inverted'; onIsInverted(true)">Inverted</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="enemy-mode">Boss Shuffle</label>
        <app-help-popover
          label="Boss Shuffle help"
          text="Shuffle bosses? Allow repeat bosses?">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="enemy-mode">
        <button type="button" class="btn btn-default" name="no-enemy-button"
          [class.active]="enemizerSelected === 'none'"
          [attr.aria-pressed]="enemizerSelected === 'none'"
          (click)="enemizerSelected = 'none'">None</button>
        <button type="button" class="btn btn-default" name="simple-button"
          [class.active]="enemizerSelected === 'simple'"
          [attr.aria-pressed]="enemizerSelected === 'simple'"
          (click)="enemizerSelected = 'simple'">Simple</button>
        <button type="button" class="btn btn-default" name="full-button"
          [class.active]="enemizerSelected === 'full'"
          [attr.aria-pressed]="enemizerSelected === 'full'"
          (click)="enemizerSelected = 'full'">Full</button>
        <button type="button" class="btn btn-default" name="chaos-button"
          [class.active]="enemizerSelected === 'random'"
          [attr.aria-pressed]="enemizerSelected === 'random'"
          (click)="enemizerSelected = 'random'">Random</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="hints-mode">Hints</label>
        <app-help-popover
          label="Hints help"
          text="Enable hint tiles?">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="hints-mode">
        <button type="button" class="btn btn-default" name="with-hints-button"
          [class.active]="hintsSelected === 'on'"
          [attr.aria-pressed]="hintsSelected === 'on'"
          (click)="hintsSelected = 'on'">On</button>
        <button type="button" class="btn btn-default" name="no-hints-button"
          [class.active]="hintsSelected === 'off'"
          [attr.aria-pressed]="hintsSelected === 'off'"
          (click)="hintsSelected = 'off'">Off</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="swords-mode">Swords</label>
        <app-help-popover
          label="Swords help"
          text="Do we start with a sword? Can we get swords at all?">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="swords-mode">
        <button type="button" class="btn btn-default" name="randomized-button"
          [class.active]="swordsSelected === 'randomized'"
          [attr.aria-pressed]="swordsSelected === 'randomized'"
          (click)="swordsSelected = 'randomized'">Randomized</button>
        <button type="button" class="btn btn-default" name="assured-button"
          [class.active]="swordsSelected === 'assured'"
          [attr.aria-pressed]="swordsSelected === 'assured'"
          (click)="swordsSelected = 'assured'">Assured</button>
        <button type="button" class="btn btn-default" name="swordless-button"
          [class.active]="swordsSelected === 'swordless'"
          [attr.aria-pressed]="swordsSelected === 'swordless'"
          (click)="swordsSelected = 'swordless'">Swordless</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="map-mode">Overworld</label>
        <app-help-popover
          label="Overworld help"
          text="Do you want to travel the overworld screen by screen?">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="map-mode">
        <button type="button" class="btn btn-default" name="simple-map-button"
          [class.active]="mapSelected === 'no'"
          [attr.aria-pressed]="mapSelected === 'no'"
          (click)="mapSelected = 'no'">Simple</button>
        <button type="button" class="btn btn-default" name="full-map-button"
          [ngStyle]="{'display': isAdvancedOWEnabled}"
          [class.active]="mapSelected === 'yes'"
          [attr.aria-pressed]="mapSelected === 'yes'"
          (click)="mapSelected = 'yes'">Advanced</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button class="btn btn-success" type="button"
          [disabled]="isGenerating"
          (click)="onGenerateNewSeed()">
          <i class="fa" [ngClass]="isGenerating ? 'fa-spinner fa-spin' : 'fa-magic'"></i>
          {{ isGenerating ? 'Generating...' : 'Generate Seed' }}
        </button>
        <button class="btn btn-default" type="button" (click)="fileInput.click()">
          <i class="fa fa-upload"></i> Load Spoiler Log
        </button>
        <input #fileInput type="file" accept=".json,.txt" style="display:none"
          (change)="onSpoilerLogFileSelected($event)">
        <button class="btn btn-primary" type="button"
          [disabled]="shouldDisablePlay"
        (click)="onSubmit()">Play</button>
        @if (seedInfo) {
          <span style="margin-left: 10px;">{{seedInfo}}</span>
        }
      </div>
    </div>
    @if (errorMessage) {
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    }
  </form>
}

@if (generationType === 'mystery') {
  <form class="form-horizontal" novalidate>
    <div class="mystery-info">
      <p>With Mystery Seeds you won't know the settings of the seed before playing. Any combination of settings is possible</p>
      <p>You will be thrown into the game and by opening chests and reading the handy signposts you'll be able to
        guess what the settings are and complete the seed
      </p>
      <p>The seed isn't generated completely randomly, it follows the Weighted ruleset, as seen <a href="https://github.com/tcprescott/sahasrahbot/blob/master/weights/weighted.yaml">here</a>.</p>
      <p>All settings currently unavailable on Z3RSim like Entrance Shuffle are evenly distributed in the other options.</p>
      <p>All seeds use the Keysanity interface</p>
      <p>The sign that indicates how many crystals you need to beat Ganon will also inform you if it's a Fast Ganon goal:</p>
      <p>You need x crystals and have defeated Agahnim 2: Defeat Ganon Goal </p>
      <p>You only need x crystals to beat Ganon: Fast Ganon Goal</p>
    </div>
    <div class="form-group">
      <div class="col-sm-4 label-with-help">
        <label class="control-label" for="map-mode">Overworld</label>
        <app-help-popover
          label="Overworld help"
          text="Do you want to travel the overworld screen by screen?">
        </app-help-popover>
      </div>
      <div class="col-sm-8" id="map-mode">
        <button type="button" class="btn btn-default" name="simple-map-button"
          [class.active]="mapSelected === 'no'"
          [attr.aria-pressed]="mapSelected === 'no'"
          (click)="mapSelected = 'no'">Simple</button>
        <button type="button" class="btn btn-default" name="full-map-button"
          [ngStyle]="{'display': isAdvancedOWEnabled}"
          [class.active]="mapSelected === 'yes'"
          [attr.aria-pressed]="mapSelected === 'yes'"
          (click)="mapSelected = 'yes'">Advanced (won't work if Inverted)</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button class="btn btn-success" type="button"
          [disabled]="isGenerating"
          (click)="onGenerateNewSeed()">
          <i class="fa" [ngClass]="isGenerating ? 'fa-spinner fa-spin' : 'fa-magic'"></i>
          {{ isGenerating ? 'Generating...' : 'Generate Seed' }}
        </button>
        <button class="btn btn-default" type="button" (click)="fileInput.click()">
          <i class="fa fa-upload"></i> Load Spoiler Log
        </button>
        <input #fileInput type="file" accept=".json,.txt" style="display:none"
          (change)="onSpoilerLogFileSelected($event)">
        <button class="btn btn-primary" type="button"
          [disabled]="shouldDisablePlay"
        (click)="onSubmit()">Play</button>
        @if (seedInfo) {
          <span style="margin-left: 10px;">{{seedInfo}}</span>
        }
      </div>
    </div>
    @if (errorMessage) {
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    }
  </form>
}
