<div [attr.inert]="isModalOpen ? '' : null" [attr.aria-hidden]="isModalOpen ? 'true' : null">
<div class="map" [ngStyle]="{'background-image': getMapBg()}" (click)="onMapClicked($event)">
  @if (!currentDungeon) {
    <div>
      @for (location of gameService.overworldData[currentMap === 'light-world' ? 'lwLocations' : 'dwLocations']; track location) {
        <app-node
          nodeType="overworld"
          [nodeInfo]="location.mapNode"
          [items]="items"
          [config]="config"
          (click)="onNodeClick(location.mapNode)"
          (mouseover)="changeTooltip(location.mapNode)"
          (mouseleave)="clearTooltip()">
        </app-node>
      }
      @for (dungeon of gameService.dungeonsData; track dungeon) {
        <div>
          @if ((gameService.lwDuns.indexOf(dungeon.name) > -1 && currentMap === 'light-world') || (gameService.lwDuns.indexOf(dungeon.name) === -1 && currentMap === 'dark-world')) {
            <app-node
              nodeType="dungeon"
              [nodeInfo]="dungeon.mapNode"
              [dungeonItems]="items.getDungeonItems(dungeon.name)"
              [config]="config"
              (click)="onDungeonClick(dungeon.mapNode)"
              (mouseover)="changeTooltip(dungeon.mapNode)"
              (mouseleave)="clearTooltip()">
            </app-node>
          }
        </div>
      }
    </div>
  }
  @if (currentDungeon) {
    <div>
      @for (node of currentDungeonMap.nodes; track node) {
        <div>
          @if ((node.accessibleSectionArray.indexOf(-1) > -1 || node.accessibleSectionArray.indexOf(items.currentRegionInMap) > -1) && (node.status !== 10 || items.mirror)) {
            <app-node
              nodeType="inside-dungeon"
              [nodeInfo]="node.mapNode"
              [dungeonItems]="currentDungeonItems"
              [items]="items"
              [config]="config"
              (click)="onDungeonNodeClick(node.mapNode)"
              (mouseover)="changeTooltip(node.mapNode)"
              (mouseleave)="clearTooltip()">
            </app-node>
          }
        </div>
      }
      @if (mirrorNode && mirrorMap === currentDungeonMap.id && (mirrorNode.accessibleSectionArray.indexOf(-1) > -1 || mirrorNode.accessibleSectionArray.indexOf(items.currentRegionInMap) > -1)) {
        <app-node
          nodeType="inside-dungeon"
          [nodeInfo]="mirrorNode.mapNode"
          [dungeonItems]="currentDungeonItems"
          [items]="items"
          [config]="config"
          (click)="onDungeonNodeClick(mirrorNode.mapNode)"
          (mouseover)="changeTooltip(mirrorNode.mapNode)"
          (mouseleave)="clearTooltip()">
        </app-node>
      }
    </div>
  }

  @if (currentDungeonItems) {
    <div>
      <app-dungeon-items
        [dungeonItems]="currentDungeonItems"
        [config]="config">
      </app-dungeon-items>
    </div>
  }
</div>
<div class="map-footer">
  <span>{{tooltip}}</span>
</div>
<div class="menu-buttons">
  @if (items.gameState === 4) {
    <button class="btn btn-danger" (click)="onSaveAndQuit()">
      Save &amp; Quit
    </button>
  }
  @if (canWarp()) {
    <button class="btn btn-primary" (click)="onWarpClicked()">
      {{warpButtonText}}
    </button>
  }
  @if (canFlute()) {
    <button class="btn btn-primary" (click)="onFluteClicked()">
      <img class="icon" src="assets/item-icons/flute.png">
    </button>
  }
  @if (!items.lwMapOpen && canViewMap('light-world')) {
    <button class="btn btn-info" (click)="onCheckMap('lw')">
      Check <img class="icon" src="assets/item-icons/map.png">
    </button>
  }
  @if (!items.dwMapOpen && canViewMap('dark-world')) {
    <button class="btn btn-info" (click)="onCheckMap('dw')">
      Check <img class="icon" src="assets/item-icons/map.png">
    </button>
  }
  @if (canViewMap('green-pendant')) {
    <button class="btn btn-info" (click)="onCheckMap('gp')">
      Check <img class="icon" src="assets/item-icons/pendantCourage.png">
    </button>
  }
  @if (canViewMap('red-crystals')) {
    <button class="btn btn-info" (click)="onCheckMap('rc')">
      Check <img class="icon" src="assets/item-icons/redCrystal.png">
    </button>
  }
  @if (!items.mmMedallionChecked && canViewMMMedallion() && !currentDungeon) {
    <button class="btn btn-warning" (click)="checkMedallion('mm')">
      Check <img class="icon" src="assets/dungeon-tracker-icons/boss82.png"><img class="icon" src="assets/dungeon-tracker-icons/medallion0.png">
    </button>
  }
  @if (!items.trMedallionChecked && canViewTRMedallion() && !currentDungeon) {
    <button class="btn btn-warning" (click)="checkMedallion('tr')">
      Check <img class="icon" src="assets/dungeon-tracker-icons/boss92.png"><img class="icon" src="assets/dungeon-tracker-icons/medallion0.png">
    </button>
  }

  <button class="btn btn-danger aligned-right" (click)="openModal()">
    Report Seed
  </button>
</div>

@if (isDebug) {
  <div class="debug-tools map-debug-tools" aria-label="Debug tools">
    <button class="btn btn-warning debug-button" type="button" (click)="getAll()">
      Get All
    </button>
    <button class="btn btn-warning debug-button" type="button" (click)="getBootsDw()">
      Get Some
    </button>
  </div>
}
</div>

<div #reportModal
     class="modal"
     [style.display]="isModalOpen ? 'block' : 'none'"
     [class.show]="isModalOpen"
     [style.opacity]="isModalOpen ? '1' : '0'"
     [attr.aria-hidden]="!isModalOpen"
     [attr.aria-modal]="isModalOpen ? 'true' : null"
     tabindex="-1"
     role="dialog"
     aria-labelledby="report-seed-title"
     (keydown)="onReportModalKeydown($event)">
  
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" id="report-seed-title">Report this Seed</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          If you think this seed is impossible to complete, please describe the problem below and submit.
        </p>
        <div class="form-group">
          <label for="report-description">Describe the issue:</label>
          <textarea #reportDescriptionInput id="report-description" class="form-control" rows="4" [(ngModel)]="reportDescription" maxlength="2000"></textarea>
        </div>
      @if (reportMessage) {
        <div class="alert alert-success">
          {{reportMessage}}
        </div>
      }
      @if (reportError) {
        <div class="alert alert-danger">
          {{reportError}}
        </div>
      }
      @if (clipboardMessage) {
        <p>{{clipboardMessage}}</p>
      }
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="submitReport()" [disabled]="isSubmittingReport">
          Submit Report
        </button>
        <button class="btn btn-default" type="button" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
