<div class="panel panel-info">
  <div class="panel-heading">
    <button
      class="btn btn-default"
      [class.active]="filterArgs.onlyImportantShown"
      [attr.aria-pressed]="filterArgs.onlyImportantShown"
      name="showImportantButton"
      title="Show Only Important Items"
      type="button"
      (click)="onToggleImportant()">
      <i aria-hidden="true" class="fa fa-filter"></i>
      <span class="visible-xs-inline visible-sm-inline"> Filter Trash Items</span>
    </button>
    <input class="form-control"
      name="searchForm"
      placeholder="Search"
      type="text"
      [(ngModel)]="filterArgs.searchQuery">
    @if (filterArgs.searchQuery !== '') {
      <button
        class="btn btn-default"
        (click)="onCleanText()">
        <i aria-hidden="true" class="fa fa-times"></i>
      </button>
    }
  </div>
  <div class="panel-body item-log-body">
    @for (entry of (itemLogList | itemLogFilter:filterArgs); track entry) {
      <app-item-line
        [itemLogEntry]="entry"
      [items]="items"></app-item-line>
    }
  </div>
</div>
