hr {
  margin-top:8px;
  margin-bottom:8px;
  height:6px;
  border:0;
  box-shadow:inset 0 3px 3px -3px rgba(0,0,0,.5)
}

.item-log-body {
  height:400px;
  padding:10px;
  overflow-y:auto
}

:host-context(.dark-theme) .item-log-body {
  background-color:#111827;
  color:#e5e7eb
}

.panel-heading {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap
}

:host-context(.dark-theme) .panel-heading {
  background-color:#1f2937;
  color:#f3f4f6
}

:host-context(.dark-theme) .panel-heading,
:host-context(.dark-theme) .panel-info {
  border-color:#4b5563
}

.form-control {
  display:initial;
  width:100%
}

:host-context(.dark-theme) .form-control {
  color:var(--dark-text-color);
  background-color:#111827;
  border-color:#4b5563
}

:host-context(.dark-theme) .form-control::placeholder {
  color:#9ca3af
}

.btn-default.active {
  background-color:#363636;
  color:#fff
}

.btn-default.active:focus {
  background-color:#696969
}

.btn-default.active:hover {
  background-color:#5e5e5e
}

@media (min-width:768px) {
  .item-log-body {
    height:400px
  }
}

@media (min-width:992px) {
  .item-log-body {
    height:400px
  }
}

@media (min-width:1200px) {
  .item-log-body {
    height:498px
  }
}
